
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* CUSTOM PROPERTIES */


:root {
 --clr-borored: #d50a2e;
 --clr-borored2: #DE1B22;
 --clr-borored-dark: #a60825;
 --clr-blue: #043b56;
 --clr-vanilla: #F1E8B8;
 --clr-white: #fff;
 --clr-gold: #C8AD55;
 
 --clr-darkblue: #004B75;
 --clr-lightblue: #7BB0E0;
 --clr-beige: #F3EED9;
 --clr-lightred: #FF6968;

 --clr-blue: #084B83;
 --clr-light-blue: #B0D0D3;

 --clr-dark: #14171f;
 --clr-light-gold: #F5DD90;



 --ff-pacifico: 'Pacifico', cursive;
 --ff-playfair: 'Playfair Display', serif;
 --ff-roboto: 'Roboto', sans-serif;
 --ff-roboto-slab: 'Roboto Slab', serif;
 --ff-russo-one: 'Russo One', sans-serif;
 --ff-noto-sans-display: 'Noto Sans Display', sans-serif;

 --fw-500: 500;
 --fw-600: 600;
 --fw-700: 700;
 --fw-800: 800;

}


/* UTILITIES */

.flow > * + * {
  --flow-space: 4em;
  margin-top: var(--flow-space);
}

.wrapper {
  --flow-space: 3em;
  --auto-grid-min-size: 10rem;
  
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem 2rem;
}

.visually-hidden {
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* COMPONENTS */

.section__heading {
  color: var(--clr-light-gold);
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: underline;
  text-underline-offset: .3em;
  position: relative;
  font-size: 2rem;
  /* display: inline-block; */
}

/* .section__heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--clr-light-gold);
  position: absolute;
  bottom: -.5em;
} */


/* GENERAL STYLING */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 1rem;
  font-family: var(--ff-noto-sans-display);
  text-align: center;
  background-color: var(--clr-dark);
}

.main {
  max-width: 60rem;
  padding: 2rem;
}

.main-heading {
  font-family: var(--ff-roboto-slab);
  color: var(--clr-white);
  letter-spacing: .2em;
  font-size: 3rem;
}

.tagline {
  font-family: var(--ff-pacifico);
  color: var(--clr-lightblue);
  --flow-space: .5em;
}

/* INTRO */

.intro__images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  --flow-space: 2em;
}

.intro__image {
  width: 10%;
}

/* CARDS */

.ball {
  height: 1em;
}

.card {
  background-color: var(--clr-white);
  color: var(--clr-dark);
  border-radius: 20px;
  /* box-shadow: 1px 1px 2px 2px rgba(255, 255, 255, 1); */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-width: 25rem;
  /* padding: .25rem; */
  border: 2px solid var(--clr-white);
}

.managers .card {
  padding-block-end: 2rem;
}

.card__image {
  overflow: hidden;
  grid-row: 1 / 3;
}

.card__image__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.card__text {
  grid-row: 3 / 4;
  --flow-space: 1.5em;
  padding-inline: 1rem;
}

.card__text__heading {
  font-size: 2rem;
  text-transform: uppercase;
}


.card__text__paragraph {
  --flow-space: .7em;
  font-weight: 600;
  font-family: var(--ff-roboto);
  color: var(--clr-borored);
}

.card__text__list {
  --flow-space: 2em;
  padding-inline: 2rem;
}

.card__text__list__item {
  display: flex;
  justify-content: space-between;
}

.key {
  color: var(--clr-dark);
  font-weight: 600;
}

.value {
  color: var(--clr-dark);
  font-weight: 600;
}



/* FOOTER */

.footer {
  color: var(--clr-white);
}

.footer__link {
  color: var(--clr-lightblue);
}

/* Media queries */

@media (min-width: 45rem) {
  .wrapper {
    --flow-space: 3em;
    --auto-grid-min-size: 10rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem 2rem;
  }
}